extends ./layouts/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg",'imagen nosotros',class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eros nisl, vehicula dapibus ex vel, elementum hendrerit quam. Donec aliquam nibh nec volutpat efficitur. Vestibulum a consectetur tellus, et malesuada tortor. Vivamus non orci commodo, ultricies arcu vitae, scelerisque nunc. Curabitur quis viverra diam.

                p Ut vel nisi euismod mauris fermentum feugiat sed in dui. Nam eu erat non est consectetur semper sit amet sed arcu. Nullam libero lacus, ullamcorper nec volutpat a, euismod vitae felis. Sed nibh dolor, fringilla ut tincidunt vel, mollis sed sapien. Curabitur commodo nisi in lobortis lobortis. 

                p Ut vel nisi euismod mauris fermentum feugiat sed in dui. Nam eu erat non est consectetur semper sit amet sed arcu. Nullam libero lacus, ullamcorper nec volutpat a, euismod vitae felis. Sed nibh dolor, fringilla ut tincidunt vel, mollis sed sapien. Curabitur commodo nisi in lobortis lobortis. 

            .listado-iconos
                .container.mt-5.py-5.text-center
                    .row    
                        .col-md-4
                            img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                            h2.mb-4 Seguridad
                            p Pellentesque volutpat, turpis at euismod finibus, augue odio ornare risus, sed fermentum neque arcu et justo. Fusce molestie pharetra elit, in vestibulum ligula sagittis nec.
        
                        .col-md-4
                            img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                            h2.mb-4 Mejores Destinos
                            p Pellentesque volutpat, turpis at euismod finibus, augue odio ornare risus, sed fermentum neque arcu et justo. Fusce molestie pharetra elit, in vestibulum ligula sagittis nec.
        
                        .col-md-4
                            img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                            h2.mb-4 Los Mejores Precios
                            p Pellentesque volutpat, turpis at euismod finibus, augue odio ornare risus, sed fermentum neque arcu et justo. Fusce molestie pharetra elit, in vestibulum ligula sagittis nec.
